body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(../images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.login-box {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 325px;
    background: url("../images/login-div.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.login-input{
    background: none;
    border: none;
    height: 30px;
    line-height: 45px;
    vertical-align: middle;
    width: 80%;
    margin: auto;
    margin-top: 15px;
    color: #f6f6f6 !important;
}

.login-input:hover{
    border: none;
    outline: none;
}
.login-input:focus{
    border: none;
    outline: none;
}
.login-input-div{
    background: url(../images/login-input.png);
    background-repeat: no-repeat;
    width: 319px;
    height: 55px;
    background-size: cover;
    margin:15px auto;
    text-align: center;
}
.login-h{
    text-align: center !important;
    margin: 45px 0px 10px 0px !important;
    color: #458BBB !important;
    font-size: 20px !important;
}
.input::-webkit-input-placeholder {
    color:#458BBB !important;
}

.login-btn{
    width: 300px;
    margin: auto;
    height: 35px;
    line-height: 35px;
    background: #1a6ba359;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    color: #c9dcf7;
    cursor: pointer;
}
.login-img{
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 10px;
    width: 20px;
    display: inline;
}