<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./css/common.css" >
    <script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>

    <title>银川隆基驾驶舱</title>
</head>
<body>
<!--顶部-->
<header class="header left">
    <div class="left nav nav_longi" >
        <img src="./images/logor.png">
    </div>
    <div class="header_center" style="position:relative">

        <h2><strong>银川隆基单晶驾驶舱</strong></h2>

    </div>

</header>
<!--内容部分-->
<div class="con left" style="width:50%;">
    <!--统计分析图-->
    <div class="div_any">
        <div class="left div_any01" style="width:100%;">
            <div class="div_any_child" style="width:98%;position:relative;height: 420px;">
                <div class="div_any_title"><img src="../images/title_13.png">等径生长晶棒情况</div>
                <div id="crystalRodChart"  style="width:98%;height:95%;display: inline-block;padding-left: 1%;padding-top:2%"></div>
            </div>
        </div>
        <div class="left div_any01" style="width:100%;">
          <div class="div_any_child" style="width:98%;position:relative;height: 420px;">
              <div class="div_any_title"><img src="../images/title_14.png">需要加料炉数预测</div>
              <div id="stoveForecastChart" style="width:98%;height:95%;display: inline-block;padding-left: 1%;padding-top:2%"></div>

          </div>
        </div>
      </div>
</div>
<div class="con right" style="width:50%;">
  <div class="div_any">
      <div class="left div_any01" style="width:100%;">
          <div class="div_any_child" style="width:98%;position:relative;height: 420px;">
              <div class="div_any_title"><img src="../images/title_17.png">实时断线数据</div>
              <div id="brokenLineChart"  style="width:98%;height:90%;display: inline-block;padding-left: 1%;padding-top:2%"></div>
          </div>
      </div>
      <div class="left div_any01" style="width:100%;">
        <div class="div_any_child" style="width:98%;position:relative;height: 420px;">
            <div class="div_any_title"><img src="../images/title_18.png">最后一桶料-等径平均工时</div>
            <div id="lastMaterialChart" style="width:98%;height:90%;display: inline-block;padding-left: 1%;padding-top:2%"></div>
        </div>
      </div>
  </div>
</div>

<script data-main="js/mainyc" src="js/require.js"></script>
</body>
</html>