<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="./css/login.css">
    <script type="text/javascript" src="js/common.js"></script>
    <link rel="stylesheet" href="./css/tootip/hint.min.css">
    <link rel="stylesheet" href="./js/plugins/confirm/xcConfirm.css">
    <link rel="stylesheet" href="./js/plugins/jquery/jquery.min.js">
    <style type="text/css">
        .sgBtn{width: 135px; height: 35px; line-height: 35px; margin-left: 10px; margin-top: 10px; text-align: center; background-color: #0095D9; color: #FFFFFF; float: left; border-radius: 5px;}
    </style>
</head>
<body>
<div class="login-box">
    <h2 class="login-h">登录</h2>
    <form  method="post" action="/login">
    <div class="login-input-div">
       <img src="images/username.png" class="login-img"> <input id="userName" type="text" name="username" required="" placeholder="请输入用户名" class="login-input">
    </div>
    <div class="login-input-div">
        <img src="images/password.png" class="login-img">  <input id ="password" type="password" name="password" required="" placeholder="请输入密码" class="login-input">
    </div>
    <button class="login-btn" type="submit" >登录</button>
      <p style="color:#f56961;font-size: 6px;margin:8px auto;" th:if="${param.error}" th:text="${session?.loginError}" ></p>
    </form>
</div>
</body>
<script data-main="js/login" src="js/require.js"></script>
</html>